@import "../../../frontend/guideline/base.css";
@import "../../../frontend/guideline/header/style.css";
@import "../../../frontend/guideline/footer/style.css";
@import "../../../frontend/guideline/container/style.css";
@import "../../../frontend/guideline/button/style.css";
@import "../../../frontend/guideline/input-text/style.css";
@import "../../../frontend/guideline/table/style.css";
@import "../../../frontend/guideline/code-example/style.css";

.container.visible{
    background: rgba(255,221,171,0.78);
    border-radius: 5px;
}

.container .table {
    margin: auto;
}